<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img width="200px" src="data:<%= product.photo.contentType %>;base64,<%= product.photo.data.toString('base64') %>" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3"><%= product.name %></h1>
        <h3 class="text-danger"><%= product.price %> AUD</h3>
        <p><%= product.description %></p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a href="/api/customer/product/<%= product.id %>/addtocart" type="button" class="btn btn-primary btn-lg px-4 me-md-2">Add to cart</a>
          <a href="/api/customer/vendor/<%= product.vendorId%>" type="button" class="btn btn-danger btn-lg px-4">Vendor</a>
        </div>
      </div>
    </div>
  </div>

</body>
</html>