<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Vendor</h1>
  <p>Name: <%= vendor.name %></p>
  <p>
    <% if (vendor.photo && vendor.photo.data) { %>
      <img width="200px" src="data:<%= vendor.photo.contentType %>;base64,<%= vendor.photo.data.toString('base64') %>" alt="User Photo">
    <% } else { %>
      <p>No photo available</p>
    <% } %>  </p>

    <h1>Products</h1>
    <% product.forEach(function(product){ %>
      <p>Name: <%= product.name %></p>
      <p>
        <% if (product.photo && product.photo.data) { %>
          <img width="200px" src="data:<%= product.photo.contentType %>;base64,<%= product.photo.data.toString('base64') %>" alt="User Photo">
        <% } else { %>
          <p>No photo available</p>
        <% } %>  </p>
        <div class="btn-group">
        </div>
      <% }); %>
</body>
</html>