<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Boxicons -->
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<!-- My CSS -->
	<link rel="stylesheet" href="/css/shipper/dashboard_shipper/dashboard.css">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css" rel="stylesheet" />
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" rel="stylesheet"/>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" rel="stylesheet" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
	<title>ShipperHub</title>
</head>
        <%- include('../shipper-partials/header.ejs') %>
<body>
		<!-- MAIN -->
		<main>
			<div class="head-title">
				<div class="left">
					<h1>Dashboard</h1>
					<ul class="breadcrumb">
						<li>
							<a class="active" href="/api/shipper/dashboard">Dashboard</a>
						</li>
						<li><i class='bx bx-chevron-right' ></i></li>
						<li>
							<a class="active" href="#">Order's Detail</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="container-fluid my-5 d-sm-flex justify-content-center">
				<div class="card px-2">
					<div class="card-header bg-white">
					  <div class="row justify-content-between">

						<div class="col">
							<p class="text-muted"> Order ID  <span class="font-weight-bold text-dark">#<%= order.id %></span></p> 
							<div class="flex-col my-auto">
							</div>
					  </div>

					</div>
					<div class="card-body">
					
					<% order.products.forEach(function(product){ %>

						<div class="media flex-column flex-sm-row">

							<div class="media-body ">
								<h5 class="bold"><%= product.productName %></h5>
								<p class="text-muted"> Quantity: <%= product.quantity %></p>
							</div>  
						</div>
						
          <% }); %>

					</div>
					<h4 class="mt-3 mb-4 bold"><%= order.total %> AUD <span class="small text-muted"> via (COD) </span></h4>


					 <div class="card-footer  bg-white px-sm-3 pt-sm-4 px-0">
						<h5 class="bold mb-3">Delivery Status</h5>
						<% if (order.status == "Active")  { %>
							<div class="row text-center">
								<a href="/api/shipper/delivered/<%= order.id %>" class="btn btn-warning mr-4">Delivered</a>
								<a href="/api/shipper/cancelled/<%= order.id %>" class="btn btn-danger">Cancelled</a>
							</div>
						<% } else { %>
							<div class="row text-center">
								<button class="btn btn-success">Completed</button>
							</div>
						<% } %>
					</div>
				</div>
			</div>
		</main>
		<!-- MAIN -->
	</section>
	<!-- CONTENT -->
	<script src="/js/shipper/dashboard/js_dashboard.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
</body>
</html>