<!------// RMIT University Vietnam
// Course: COSC2430 Web Programming
// Semester: 2023A
// Assessment: Assignment 2
// Author: Tom's Prodigies V2
// ID: 
// Nguyen Tran Ha Anh: s3938490
// Dang Kim Quang Minh: s3938024
// Nguyen Gia Bao: s3938143
// Hoang Tuan Minh: s3924716
// Vu Loc: s3891483
// Acknowledgement: 
https://getbootstrap.com/docs/5.3/getting-started/javascript/
Create your own Admin Dashboard Template with Angular 15 Html CSS:https://www.youtube.com/watch?v=zQf7AcKw5mU
https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js
https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css
ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js
netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js
-->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Boxicons -->
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<!-- My CSS -->
	<link rel="stylesheet" href="/css/shipper/dashboard_shipper/dashboard.css">

	<title>ShipperHub</title>
</head>
        <%- include('../shipper-partials/header.ejs') %>
<body>
		<!-- MAIN -->
		<main>
			<div class="head-title">
				<div class="left">
					<h1>Dashboard</h1>
					<ul class="breadcrumb">
						<li>
							<a class="active" href="/api/shipper/dashboard">Dashboard</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="table-data">
				<div class="order">
					<div class="head">
						<h3>Recent Orders</h3>
					</div>
					<table>
						<thead>
							<tr>
								<th>Order ID</th>
								<th>Customer Name</th>
                <th>Total Price</th>
								<th>Status</th>
								<th>Distribution Hub</th>
							</tr>
						</thead>
						<tbody>


						<% orders.forEach(function(order){ %>
							<tr>
								<td>
									<a href="/api/shipper/order/<%= order.id %>"><%= order.id %></a>
								</td>
								<td><%= order.customerName %></td>
								<td><%= order.total %></td>
								<% if (order.status == "Active") { %>
									<!-- Code to be executed if condition1 is true -->
									<td>
										<span class="status actived"><%= order.status %></span>
									</td>								
						
								<% } else if (order.status == "Cancelled") { %>
									<td>
										<span class="status cancelled"><%= order.status %></span>
									</td>								
					
								<% } else { %>
									<td>
										<span class="status completed"><%= order.status %></span>
									</td>									
								
									<% } %>
								
                <td><%= order.distribution %></td>
							</tr>

						<% }); %>
							
						</tbody>
					</table>
				</div>
			</div>
		</main>

		<!-- MAIN -->
	</section>
	<!-- CONTENT -->
	<script src="/js/shipper/dashboard/js_dashboard.js"></script>
</body>
</html>