<!--------------------------------------------------------------------------------------------------------------------------------------------------
// RMIT University Vietnam
// Course: COSC2430 Web Programming
// Semester: 2023A
// Assessment: Assignment 2
// Author: Tom's Prodigies V2
// ID: 
// Nguyen Tran Ha Anh: s3938490
// Dang Kim Quang Minh: s3938024
// Nguyen Gia Bao: s3938143
// Hoang Tuan Minh: s3924716
// Vu Loc: s3891483
// Acknowledgement: 
//how to make user profile dropdown
https://www.youtube.com/watch?v=ybXulmeilFM
https://codepen.io/cristinaconacel/pen/XymvvO
//how to make a profile page
https://www.bootdey.com/snippets/view/bs5-edit-profile-account-details
//login and signup error message
https://stackoverflow.com/questions/71409981/how-to-hide-error-message-once-the-user-starts-writing-in-the-input-field
//how to create faqs page
https://www.bootdey.com/snippets/view/paq-page
//how to create order status
https://mdbootstrap.com/docs/standard/extended/order-details/#
//login and sign up page
https://www.youtube.com/watch?v=Qv5vdKLKpQk
---------------------------------------------------------------------------------------------------------------------------------------------------->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Order status</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <!-- Favicon -->
    <link href="/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">  

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/css/customer/animate/animate.min.css" rel="stylesheet">
    <link href="/css/customer/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link rel="stylesheet" href="/css/customer/order-status/order-status.css">
</head>



    <!--header-->
    <%- include('../customer-partials/header/header.ejs') %>

<body>

    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="/api/customer/homepage">Home</a>
                    <a class="breadcrumb-item text-dark" href="/api/customer/profile"><%= customer.name%>'s Profile</a>
                    <a class="breadcrumb-item text-dark" href="/api/customer/orderhistory">Order History</a>
                    <span class="breadcrumb-item active">Order status</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!---->
    <section class="h-100 gradient-custom">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-10 col-xl-8">
              <div class="card status-card" >
                <div class="card-header px-4 py-5">
                  <h5 class="text-muted mb-0">Thanks for your Order, <span class="status-card-content-color"><%= customer.name %></span>!</h5>
                </div>
                <div class="card-body p-4">
                  <div class="d-flex justify-content-between align-items-center mb-4">
                    <p class="lead fw-normal mb-0 status-card-content-color" >Receipt</p>
                    
                  </div>

                  <% order.products.forEach(function(product){ %>

                    <div class="card shadow-0 border mb-4">
                      <div class="card-body">
                        <div class="row">
                          <!--  -->
                          <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                            <p class="text-muted mb-0"><%= product.productName %></p>
                          </div>
                          <!--serve as space-->
                          <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                              <p class="text-muted mb-0"></p>
                          </div>

                          <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                            <p class="text-muted mb-0 small"><%= product.quantity %></p>
                          </div>
                          <!--serve as space-->
                          <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                              <p class="text-muted mb-0"></p>
                          </div>

                          <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                            <p class="text-muted mb-0 small"><%= product.productPrice %> AUD</p>
                          </div>
                        </div>
                        <hr class="mb-4 status-card-bg" >
                      </div>
                    </div>
                  <% }); %>
                </div>
      
                <div class="card-footer border-0 px-4 py-5"
                  style="background-color: #961E3A; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
                  <h5 class="d-flex align-items-center justify-content-end text-white text-uppercase mb-0">Total paid: <span class="h2 mb-0 ms-2 "> <%= order.total %> AUD</span></h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    


    <!--footer-->
    <%- include('../customer-partials/footer/footer.ejs') %>


    <!-- Bottom-to-Top button -->
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="/js/customer/easing/easing.min.js"></script>
    <script src="/js/customer/owlcarousel/owl.carousel.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="/js/customer/mail/jqBootstrapValidation.min.js"></script>
    <script src="/js/customer/mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="/js/customer/main/js/main.js"></script>
</body>

</html>