<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>UNI Store - multi vendor marketplace</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">  

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/css/customer/animate/animate.min.css" rel="stylesheet">
    <link href="/css/customer/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/customer/main/css/style.css" rel="stylesheet">
</head>

<!--header-->
<%- include('../customer-partials/header/header.ejs') %>

<body>



    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="/api/customer/homepage" style="text-underline-offset: 5px;">Home</a>
                    <span class="breadcrumb-item active">All products</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Filter Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <form id="priceFilterForm" action="">
                        <h5 class="section-title position-relative text-uppercase mb-3">
                            <span class="bg-secondary pr-3">Filter by price</span>
                        </h5>
                        <div class="minMax">
                            <label for="minPrice" class="">Min Price</label>
                            <input type="number" id="minPrice" name="minPrice">
                            <label for="maxPrice" class="">Max Price</label>
                            <input type="number" id="maxPrice" name="maxPrice">
                            <button class="btn btn-primary">Search</button>
                        </div>
                    </form>

                    
                </nav>
            </div>
        </div>
    </div>
    <!-- Filter End -->

    <!-- Shop Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">

                    <!--Products Section-->
                     <!--product-->
            <% products.forEach(function(product){ %>

                <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                    <div class="product-item bg-light mb-4">
                        <!--product's image & buttons with icons-->
                        <div class="product-img position-relative overflow-hidden">
                            <img class="img w-100 img-box-product"  src="data:<%= product.photo.contentType %>;base64,<%= product.photo.data.toString('base64') %>" alt="produuct image">
                            <div class="product-action">
                                <a class="btn btn-outline-dark btn-square" href="/api/customer/product/<%= product.id %>/addtocart">
                                    <i class="fa fa-shopping-cart"></i>
                                </a>
                            </div>
                        </div>
                        <!--product's content-->
                        <div class="text-center py-4">
                            <a class="h6 text-decoration-none text-truncate" href="/api/customer/product/<%= product.id %>"><%= product.name %></a>
                            <div class="d-flex align-items-center justify-content-center mt-2">
                                <h5><%= product.price %> AUD</h5><h6 class="text-muted ml-2"></h6>
                            </div>
                           
                        </div>
                    </div>
                </div>
            
            <% }); %>
                
            <!-- Shop Product End -->
        </div>
    </div>
    <!-- Shop End -->


    <!--footer-->
    <%- include('../customer-partials/footer/footer.ejs') %>


    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="/js/customer/easing/easing.min.js"></script>
    <script src="/js/customer/owlcarousel/owl.carousel.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="/js/customer/mail/jqBootstrapValidation.min.js"></script>
    <script src="/js/customer/mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="/js/customer/main/js/main.js"></script>
    <script>
        document.getElementById('priceFilterForm').addEventListener('submit', function(event) {
        event.preventDefault(); // Prevent form submission

        // Get input values
        var minPrice = parseFloat(document.getElementById('minPrice').value);
        var maxPrice = parseFloat(document.getElementById('maxPrice').value);

        // Construct the URL path with the input values
        var url = '/api/customer/products/' + encodeURIComponent(minPrice) + '-' + encodeURIComponent(maxPrice);

        // Redirect to the generated URL
        window.location.href = url;
        });
    </script>
</body>

</html>